[submodule "ThirdParty/ILSpy"]
	path = ThirdParty/ILSpy
	url = https://github.com/icsharpcode/ILSpy.git
[submodule "docs"]
	path = docs
	url = https://github.com/obfuscar/docs
[submodule "example"]
	path = example
	url = https://github.com/obfuscar/example
