build/
*.suo
*.user
_ReSharper*
*.csproj.user
*.resharper.user
*.userprefs
*.suo
*.cache
*.trx
*.pidb
Thumbs.db
[Bb]in
[Dd]ebug
[Oo]bj
[Rr]elease
[Tt]est[Rr]esult*
_UpgradeReport_Files
*[Pp]ublish.xml
*.project
*.metadata
logs
*.generated.cs
T4MVC.cs
/SharpSnmpLib/sharpsnmplib.snk
/packages
/lib/sharpsnmplib.snk
/gendarme

/Tests/Input/*.dll
/Tests/Input/*.exe
/Tests/Output
/packages
/Examples/BasicExample/Final
/Examples/BasicExample/Obfuscator_Input
/Examples/BasicExample/Obfuscator_Output
*.nupkg
*.nuspec

*.iml
.idea/
.vs
/local
nuget.exe
